/**
 * https://www.pantone.com/color-finder
 */

$pantone-10393C: rgb(65, 71, 75);
$pantone-116C: rgb(255, 205, 0);
$pantone-123C: rgb(255, 199, 44);
$pantone-13-1406: rgb(245, 209, 200);
$pantone-13-1520: rgb(247, 202, 202);
$pantone-141C: rgb(242, 199, 92);
$pantone-149C: rgb(255, 194, 123);
$pantone-15-3919: rgb(147, 169, 209);
$pantone-15-4101TCX: rgb(174, 178, 181);
$pantone-155C: rgb(239, 209, 159);
$pantone-172C: rgb(250, 70, 22);
$pantone-177C: rgb(255, 128, 139);
$pantone-186C: rgb(200, 16, 46);
$pantone-2001C: rgb(248, 229, 154);
$pantone-2008C: rgb(239, 192, 110);
$pantone-202C: rgb(134, 38, 51);
$pantone-2046U: rgb(205, 108, 143);
$pantone-2085C: rgb(222, 205, 231);
$pantone-2264C: rgb(107, 149, 96);
$pantone-2378C: rgb(56, 73, 103);
$pantone-267C: rgb(95, 36, 159);
$pantone-294C: rgb(0, 47, 108);
$pantone-2975C: rgb(153, 214, 234);
$pantone-317C: rgb(177, 228, 227);
$pantone-3258C: rgb(73, 197, 177);
$pantone-4100C: rgb(126, 77, 77);
$pantone-4119C: rgb(64, 56, 69);
$pantone-4126C: rgb(81, 65, 99);
$pantone-4140C: rgb(57, 61, 71);
$pantone-430C: rgb(124, 135, 142);
$pantone-431C: rgb(91, 103, 112);
$pantone-474U: rgb(246, 189, 157);
$pantone-487C: rgb(234, 167, 148);
$pantone-533C: rgb(31, 42, 68);
$pantone-534C: rgb(27, 54, 93);
$pantone-536C: rgb(162, 178, 200);
$pantone-5425C: rgb(122, 153, 172);
$pantone-5455C: rgb(191, 206, 214);
$pantone-5477C: rgb(62, 93, 88);
$pantone-5575C: rgb(146, 172, 160);
$pantone-600C: rgb(241, 235, 156);
$pantone-636C: rgb(139, 211, 230);
$pantone-656C: rgb(221, 229, 237);
$pantone-6C: rgb(16, 24, 32);
$pantone-7462C: rgb(0, 85, 140);
$pantone-7522C: rgb(180, 106, 85);
$pantone-7527C: rgb(214, 210, 196);
$pantone-7570C: rgb(211, 131, 43);
$pantone-7617C: rgb(88, 61, 62);
$pantone-7699C: rgb(52, 101, 127);
$pantone-7717C: rgb(0, 133, 125);
$pantone-802C: rgb(68, 214, 44);
$pantone-8721C: rgb(85, 117, 85);
$pantone-9481C: rgb(197, 233, 234);
$pantone-Black5C: rgb(62, 43, 46);
$pantone-CoolGray2C: rgb(208, 208, 206);

:export {
    pantone-10393C: $pantone-10393C;
    pantone-116C: $pantone-116C;
    pantone-123C: $pantone-123C;
    pantone-13-1406: $pantone-13-1406;
    pantone-13-1520: $pantone-13-1520;
    pantone-141C: $pantone-141C;
    pantone-149C: $pantone-149C;
    pantone-15-3919: $pantone-15-3919;
    pantone-15-4101TCX: $pantone-15-4101TCX;
    pantone-155C: $pantone-155C;
    pantone-172C: $pantone-172C;
    pantone-177C: $pantone-177C;
    pantone-186C: $pantone-186C;
    pantone-2001C: $pantone-2001C;
    pantone-2008C: $pantone-2008C;
    pantone-202C: $pantone-202C;
    pantone-2046U: $pantone-2046U;
    pantone-2085C: $pantone-2085C;
    pantone-2264C: $pantone-2264C;
    pantone-2378C: $pantone-2378C;
    pantone-267C: $pantone-267C;
    pantone-294C: $pantone-294C;
    pantone-2975C: $pantone-2975C;
    pantone-317C: $pantone-317C;
    pantone-3258C: $pantone-3258C;
    pantone-4100C: $pantone-4100C;
    pantone-4119C: $pantone-4119C;
    pantone-4126C: $pantone-4126C;
    pantone-4140C: $pantone-4140C;
    pantone-430C: $pantone-430C;
    pantone-431C: $pantone-431C;
    pantone-474U: $pantone-474U;
    pantone-487C: $pantone-487C;
    pantone-533C: $pantone-533C;
    pantone-534C: $pantone-534C;
    pantone-536C: $pantone-536C;
    pantone-5425C: $pantone-5425C;
    pantone-5455C: $pantone-5455C;
    pantone-5477C: $pantone-5477C;
    pantone-5575C: $pantone-5575C;
    pantone-600C: $pantone-600C;
    pantone-636C: $pantone-636C;
    pantone-656C: $pantone-656C;
    pantone-6C: $pantone-6C;
    pantone-7462C: $pantone-7462C;
    pantone-7522C: $pantone-7522C;
    pantone-7527C: $pantone-7527C;
    pantone-7570C: $pantone-7570C;
    pantone-7617C: $pantone-7617C;
    pantone-7699C: $pantone-7699C;
    pantone-7717C: $pantone-7717C;
    pantone-802C: $pantone-802C;
    pantone-8721C: $pantone-8721C;
    pantone-9481C: $pantone-9481C;
    pantone-Black5C: $pantone-Black5C;
    pantone-CoolGray2C: $pantone-CoolGray2C;
};