/**
 * https://www.pantone.com/color-finder
 */

$color-pantone-10393C: rgb(65, 71, 75);
$color-pantone-123C: rgb(255, 199, 44);
$color-pantone-123C: rgb(255, 199, 44);
$color-pantone-13-1406: rgb(245, 209, 200);
$color-pantone-13-1520: rgb(247, 202, 202);
$color-pantone-141C: rgb(242, 199, 92);
$color-pantone-15-3919: rgb(147, 169, 209);
$color-pantone-15-4101TCX: rgb(174, 178, 181);
$color-pantone-155C: rgb(239, 209, 159);
$color-pantone-172C: rgb(250, 70, 22);
$color-pantone-177C: rgb(255, 128, 139);
$color-pantone-186C: rgb(200, 16, 46);
$color-pantone-2001C: rgb(248, 229, 154);
$color-pantone-2008C: rgb(239, 192, 110);
$color-pantone-202C: rgb(134, 38, 51);
$color-pantone-2046U: rgb(205, 108, 143);
$color-pantone-2085C: rgb(222, 205, 231);
$color-pantone-2264C: rgb(107, 149, 96);
$color-pantone-2378C: rgb(56, 73, 103);
$color-pantone-267C: rgb(95, 36, 159);
$color-pantone-294C: rgb(0, 47, 108);
$color-pantone-2975C: rgb(153, 214, 234);
$color-pantone-317C: rgb(177, 228, 227);
$color-pantone-3258C: rgb(73, 197, 177);
$color-pantone-4100C: rgb(126, 77, 77);
$color-pantone-4119C: rgb(64, 56, 69);
$color-pantone-4126C: rgb(81, 65, 99);
$color-pantone-4140C: rgb(57, 61, 71);
$color-pantone-430C: rgb(124, 135, 142);
$color-pantone-431C: rgb(91, 103, 112);
$color-pantone-474U: rgb(246, 189, 157);
$color-pantone-487C: rgb(234, 167, 148);
$color-pantone-533C: rgb(31, 42, 68);
$color-pantone-534C: rgb(27, 54, 93);
$color-pantone-536C: rgb(162, 178, 200);
$color-pantone-5425C: rgb(122, 153, 172);
$color-pantone-5455C: rgb(191, 206, 214);
$color-pantone-5477C: rgb(62, 93, 88);
$color-pantone-5575C: rgb(146, 172, 160);
$color-pantone-600C: rgb(241, 235, 156);
$color-pantone-656C: rgb(221, 229, 237);
$color-pantone-6C: rgb(16, 24, 32);
$color-pantone-7522C: rgb(180, 106, 85);
$color-pantone-7527C: rgb(214, 210, 196);
$color-pantone-7570C: rgb(211, 131, 43);
$color-pantone-7617C: rgb(88, 61, 62);
$color-pantone-7699C: rgb(52, 101, 127);
$color-pantone-7717C: rgb(0, 133, 125);
$color-pantone-802C: rgb(68, 214, 44);
$color-pantone-8721C: rgb(85, 117, 85);
$color-pantone-9481C: rgb(197, 233, 234);
$color-pantone-Black5C: rgb(62, 43, 46);
$color-pantone-CoolGray2C: rgb(208, 208, 206);

:export {
    color-pantone-10393C: $color-pantone-10393C;
    color-pantone-123C: $color-pantone-123C;
    color-pantone-13-1406: $color-pantone-13-1406;
    color-pantone-13-1520: $color-pantone-13-1520;
    color-pantone-141C: $color-pantone-141C;
    color-pantone-15-3919: $color-pantone-15-3919;
    color-pantone-15-4101TCX: $color-pantone-15-4101TCX;
    color-pantone-155C: $color-pantone-155C;
    color-pantone-172C: $color-pantone-172C;
    color-pantone-177C: $color-pantone-177C;
    color-pantone-186C: $color-pantone-186C;
    color-pantone-2001C: $color-pantone-2001C;
    color-pantone-2008C: $color-pantone-2008C;
    color-pantone-202C: $color-pantone-202C;
    color-pantone-2046U: $color-pantone-2046U;
    color-pantone-2085C: $color-pantone-2085C;
    color-pantone-2264C: $color-pantone-2264C;
    color-pantone-2378C: $color-pantone-2378C;
    color-pantone-267C: $color-pantone-267C;
    color-pantone-294C: $color-pantone-294C;
    color-pantone-2975C: $color-pantone-2975C;
    color-pantone-317C: $color-pantone-317C;
    color-pantone-3258C: $color-pantone-3258C;
    color-pantone-4100C: $color-pantone-4100C;
    color-pantone-4119C: $color-pantone-4119C;
    color-pantone-4126C: $color-pantone-4126C;
    color-pantone-4140C: $color-pantone-4140C;
    color-pantone-430C: $color-pantone-430C;
    color-pantone-431C: $color-pantone-431C;
    color-pantone-474U: $color-pantone-474U;
    color-pantone-487C: $color-pantone-487C;
    color-pantone-533C: $color-pantone-533C;
    color-pantone-534C: $color-pantone-534C;
    color-pantone-536C: $color-pantone-536C;
    color-pantone-5425C: $color-pantone-5425C;
    color-pantone-5455C: $color-pantone-5455C;
    color-pantone-5477C: $color-pantone-5477C;
    color-pantone-5575C: $color-pantone-5575C;
    color-pantone-600C: $color-pantone-600C;
    color-pantone-656C: $color-pantone-656C;
    color-pantone-6C: $color-pantone-6C;
    color-pantone-7522C: $color-pantone-7522C;
    color-pantone-7527C: $color-pantone-7527C;
    color-pantone-7570C: $color-pantone-7570C;
    color-pantone-7617C: $color-pantone-7617C;
    color-pantone-7699C: $color-pantone-7699C;
    color-pantone-7717C: $color-pantone-7717C;
    color-pantone-802C: $color-pantone-802C;
    color-pantone-8721C: $color-pantone-8721C;
    color-pantone-9481C: $color-pantone-9481C;
    color-pantone-Black5C: $color-pantone-Black5C;
    color-pantone-CoolGray2C: $color-pantone-CoolGray2C;
};