/**
 * https://en.wikipedia.org/wiki/List_of_RAL_colors
 */
$ral-1011: #af804f;
$ral-1015: #e6d2b5;
$ral-1017: #f6a950;
$ral-3015: #d8a0a6;
$ral-3020: #bb1e10;
$ral-3028: #cc2c24;
$ral-5004: #191e28;
$ral-5022: #222d5a;
$ral-6027: #7ebab5;
$ral-7006: #766a5e;
$ral-8008: #724a25;
$ral-8017: #442f29;
$ral-9017: #2a292a;
$ral-010-30-30: #712f3e;
$ral-010-80-20: #efb9c0;
$ral-040-30-40: #772f21;
$ral-090-90-10: #ece4d0;
$ral-170-40-20: #356554;
$ral-190-80-25: #88d4cc;
$ral-210-85-15: rgb(182, 225, 225);
$ral-230-70-30: #5bb9d2;
$ral-240-50-25: #367f9a;
$ral-250-85-05: rgb(205, 214, 219);
$ral-260-40-05: #575d64;
$ral-260-60-05: #8a9098;
$ral-290-20-15: #2b2c42;
$ral-290-20-35: #192961;
$ral-300-30-15: #464159;
$ral-300-30-20: #463f60;
$ral-310-20-20: #382b46;
$ral-310-30-20: #4c3f5d;
$ral-320-50-20: #876d8c;

:export {
    ral-1011: $ral-1011;
    ral-1015: $ral-1015;
    ral-1017: $ral-1017;
    ral-3015: $ral-3015;
    ral-3020: $ral-3020;
    ral-3028: $ral-3028;
    ral-5004: $ral-5004;
    ral-5022: $ral-5022;
    ral-6027: $ral-6027;
    ral-7006: $ral-7006;
    ral-8008: $ral-8008;
    ral-8017: $ral-8017;
    ral-9017: $ral-9017;
    ral-010-30-30: $ral-010-30-30;
    ral-010-80-20: $ral-010-80-20;
    ral-040-30-40: $ral-040-30-40;
    ral-090-90-10: $ral-090-90-10;
    ral-170-40-20: $ral-170-40-20;
    ral-190-80-25: $ral-190-80-25;
    ral-210-85-15: $ral-210-85-15;
    ral-230-70-30: $ral-230-70-30;
    ral-240-50-25: $ral-240-50-25;
    ral-250-85-05: $ral-250-85-05;
    ral-260-40-05: $ral-260-40-05;
    ral-260-60-05: $ral-260-60-05;
    ral-290-20-15: $ral-290-20-15;
    ral-290-20-35: $ral-290-20-35;
    ral-300-30-15: $ral-300-30-15;
    ral-300-30-20: $ral-300-30-20;
    ral-310-20-20: $ral-310-20-20;
    ral-310-30-20: $ral-310-30-20;
    ral-320-50-20: $ral-320-50-20;
}
