/**
 * https://en.wikipedia.org/wiki/List_of_RAL_colors
 */
$color-ral-1011: #af804f;
$color-ral-1015: #e6d2b5;
$color-ral-1017: #f6a950;
$color-ral-3020: #bb1e10;
$color-ral-3028: #cc2c24;
$color-ral-5004: #191e28;
$color-ral-6027: #7ebab5;
$color-ral-7006: #766a5e;
$color-ral-8008: #724a25;
$color-ral-8017: #442f29;
$color-ral-9017: #2a292a;
$color-ral-H010L80C20: rgb(239, 185, 192);
$color-ral-H170L40C20: #356554;
$color-ral-H210L85C15: rgb(182, 225, 225);
$color-ral-H230L70C30: rgb(91, 185, 210);
$color-ral-H250L85C05: rgb(205, 214, 219);
$color-ral-H260L40C05: #575d64;
$color-ral-H260L60C05: #8a9098;
$color-ral-H290L20C15: rgb(43, 44, 66);
$color-ral-H300L30C15: rgb(70, 65, 89);
$color-ral-H300L30C20: rgb(70, 63, 96);
$color-ral-H310L20C20: rgb(56, 43, 70);
$color-ral-H310L30C20: rgb(76, 63, 93);
$color-ral-H320L50C20: rgb(135, 109, 140);

:export {
    color-ral-1011: $color-ral-1011;
    color-ral-1015: $color-ral-1015;
    color-ral-1017: $color-ral-1017;
    color-ral-3020: $color-ral-3020;
    color-ral-3028: $color-ral-3028;
    color-ral-5004: $color-ral-5004;
    color-ral-6027: $color-ral-6027;
    color-ral-7006: $color-ral-7006;
    color-ral-8008: $color-ral-8008;
    color-ral-8017: $color-ral-8017;
    color-ral-9017: $color-ral-9017;
    color-ral-H010L80C20: $color-ral-H010L80C20;
    color-ral-H170L40C20: $color-ral-H170L40C20;
    color-ral-H210L85C15: $color-ral-H210L85C15;
    color-ral-H230L70C30: $color-ral-H230L70C30;
    color-ral-H250L85C05: $color-ral-H250L85C05;
    color-ral-H260L40C05: $color-ral-H260L40C05;
    color-ral-H260L60C05: $color-ral-H260L60C05;
    color-ral-H290L20C15: $color-ral-H290L20C15;
    color-ral-H300L30C15: $color-ral-H300L30C15;
    color-ral-H300L30C20: $color-ral-H300L30C20;
    color-ral-H310L20C20: $color-ral-H310L20C20;
    color-ral-H310L30C20: $color-ral-H310L30C20;
    color-ral-H320L50C20: $color-ral-H320L50C20;
}
