$sp-abs-BBI: rgb(10, 32, 64);
$sp-abs-BBJ: rgb(0, 143, 176);
$sp-abs-BBQ: rgb(0, 166, 180);
$sp-abs-BDG: rgb(54, 144, 161);
$sp-abs-BDH: rgb(0, 86, 153);
$sp-abs-BE: rgb(0, 111, 154);
$sp-abs-BED: rgb(0, 54, 73);
$sp-abs-BEY: rgb(77, 139, 146);
$sp-abs-BFJ: rgb(89, 145, 174);
$sp-abs-BFK: rgb(0, 81, 144);
$sp-abs-BFL: rgb(87, 155, 173);
$sp-abs-BFM: rgb(171, 198, 220);
$sp-abs-BFN: rgb(26, 138, 183);
$sp-abs-BFO: rgb(157, 195, 203);
$sp-abs-BFP: rgb(0, 115, 162);
$sp-abs-BFQ: rgb(102, 208, 208);
$sp-abs-BFR: rgb(41, 54, 73);
$sp-abs-BFT: rgb(75, 133, 153);
$sp-abs-BFU: rgb(0, 35, 78);
$sp-abs-BGA: rgb(0, 70, 109);
$sp-abs-BO: rgb(0, 76, 127);
$sp-abs-BX: rgb(55, 135, 157);
$sp-abs-GA: rgb(148, 147, 143);
$sp-abs-GAA: rgb(179, 174, 161);
$sp-abs-GAL: rgb(200, 195, 184);
$sp-abs-GAW: rgb(174, 163, 142);
$sp-abs-GAY: rgb(201, 197, 186);
$sp-abs-GB: rgb(48, 49, 46);
$sp-abs-GBA: rgb(168, 168, 161);
$sp-abs-GC: rgb(85, 86, 87);
$sp-abs-GCF: rgb(190, 182, 167);
$sp-abs-GCS: rgb(138, 128, 111);
$sp-abs-GD: rgb(99, 105, 106);
$sp-abs-GDC: rgb(109, 106, 100);
$sp-abs-GDV: rgb(147, 140, 131);
$sp-abs-GDX: rgb(195, 179, 156);
$sp-abs-GE: rgb(95, 92, 82);
$sp-abs-GEA: rgb(176, 174, 166);
$sp-abs-GEQ: rgb(157, 150, 130);
$sp-abs-GER: rgb(199, 195, 181);
$sp-abs-GEV: rgb(147, 135, 120);
$sp-abs-GEW: rgb(60, 64, 65);
$sp-abs-GEZ: rgb(161, 157, 147);
$sp-abs-GFD: rgb(204, 196, 179);
$sp-abs-GFE: rgb(159, 150, 133);
$sp-abs-GFW: rgb(150, 142, 133);
$sp-abs-GG: rgb(123, 120, 115);
$sp-abs-GGK: rgb(192, 181, 170);
$sp-abs-GGM: rgb(167, 167, 162);
$sp-abs-GGT: rgb(194, 193, 185);
$sp-abs-GJV: rgb(136, 127, 119);
$sp-abs-GKH: rgb(168, 168, 166);
$sp-abs-GLK: rgb(189, 191, 184);
$sp-abs-GLY: rgb(197, 189, 178);
$sp-abs-GN: rgb(168, 166, 160);
$sp-abs-GO: rgb(117, 116, 110);
$sp-abs-GPA: rgb(93, 96, 96);
$sp-abs-GPR: rgb(198, 192, 184);
$sp-abs-GQM: rgb(70, 71, 70);
$sp-abs-GRX: rgb(206, 202, 188);
$sp-abs-GRY: rgb(151, 149, 144);
$sp-abs-GSC: rgb(139, 142, 142);
$sp-abs-GSL: rgb(192, 193, 189);
$sp-abs-GSM: rgb(69, 84, 96);
$sp-abs-GSP: rgb(125, 129, 129);
$sp-abs-GSU: rgb(163, 156, 148);
$sp-abs-GSX: rgb(169, 171, 170);
$sp-abs-GSY: rgb(129, 124, 116);
$sp-abs-GSZ: rgb(55, 55, 56);
$sp-abs-GTA: rgb(78, 81, 86);
$sp-abs-GTB: rgb(185, 184, 174);
$sp-abs-GTC: rgb(149, 150, 141);
$sp-abs-GTD: rgb(125, 124, 120);
$sp-abs-GTF: rgb(196, 189, 172);
$sp-abs-GTG: rgb(146, 146, 137);
$sp-abs-GTH: rgb(152, 153, 151);
$sp-abs-GTL: rgb(175, 176, 177);
$sp-abs-GTM: rgb(149, 144, 131);
$sp-abs-GTQ: rgb(215, 209, 193);
$sp-abs-GTR: rgb(199, 199, 191);
$sp-abs-GTT: rgb(168, 159, 141);
$sp-abs-GTV: rgb(136, 132, 119);
$sp-abs-GX: rgb(51, 52, 48);
$sp-abs-GY: rgb(110, 109, 107);
$sp-abs-NN: rgb(33, 34, 36);
$sp-abs-OAS: rgb(255, 104, 0);
$sp-abs-OAV: rgb(234, 66, 33);
$sp-abs-OB: rgb(216, 55, 18);
$sp-abs-OBC: rgb(232, 103, 0);
$sp-abs-ON: rgb(229, 78, 0);
$sp-abs-RA: rgb(186, 19, 18);
$sp-abs-RAC: rgb(164, 33, 27);
$sp-abs-RAS: rgb(149, 0, 19);
$sp-abs-RBC: rgb(115, 54, 54);
$sp-abs-RCJ: rgb(166, 152, 197);
$sp-abs-RCQ: rgb(193, 17, 0);
$sp-abs-RCR: rgb(211, 123, 162);
$sp-abs-RCS: rgb(220, 162, 200);
$sp-abs-RCU: rgb(221, 97, 81);
$sp-abs-RDA: rgb(108, 59, 123);
$sp-abs-RDD: rgb(164, 2, 20);
$sp-abs-RDE: rgb(89, 34, 84);
$sp-abs-RN: rgb(165, 27, 27);
$sp-abs-RR: rgb(202, 26, 14);
$sp-abs-TAA: rgb(41, 33, 28);
$sp-abs-TBN: rgb(72, 53, 39);
$sp-abs-TBT: rgb(190, 176, 152);
$sp-abs-TEA: rgb(204, 177, 140);
$sp-abs-TGG: rgb(149, 134, 111);
$sp-abs-TGH: rgb(91, 51, 20);
$sp-abs-TM: rgb(217, 201, 168);
$sp-abs-TN: rgb(202, 182, 152);
$sp-abs-TU: rgb(200, 178, 144);
$sp-abs-VAF: rgb(98, 153, 144);
$sp-abs-VAG: rgb(36, 156, 120);
$sp-abs-VAT: rgb(147, 194, 71);
$sp-abs-VAV: rgb(123, 155, 72);
$sp-abs-VBQ: rgb(97, 138, 64);
$sp-abs-VBV: rgb(93, 206, 186);
$sp-abs-VCJ: rgb(0, 123, 69);
$sp-abs-VCK: rgb(0, 141, 82);
$sp-abs-VCM: rgb(0, 142, 67);
$sp-abs-VCO: rgb(105, 208, 165);
$sp-abs-VCS: rgb(0, 121, 44);
$sp-abs-VF: rgb(91, 124, 91);
$sp-abs-VH: rgb(124, 148, 125);
$sp-abs-VV: rgb(0, 93, 53);
$sp-abs-WA: rgb(228, 222, 221);
$sp-abs-WAR: rgb(171, 161, 139);
$sp-abs-WBO: rgb(227, 213, 185);
$sp-abs-WCK: rgb(238, 226, 208);
$sp-abs-WEA: rgb(221, 211, 192);
$sp-abs-WFK: rgb(229, 228, 223);
$sp-abs-WFM: rgb(225, 216, 205);
$sp-abs-WFO: rgb(228, 219, 204);
$sp-abs-WQ: rgb(220, 216, 204);
$sp-abs-WV: rgb(218, 212, 196);
$sp-abs-WW: rgb(224, 214, 198);
$sp-abs-YBP: rgb(255, 172, 0);
$sp-abs-YCB: rgb(225, 186, 68);
$sp-abs-YCC: rgb(245, 215, 147);
$sp-abs-YCE: rgb(255, 219, 88);
$sp-abs-YCF: rgb(247, 176, 60);
$sp-abs-YCH: rgb(242, 199, 0);
$sp-abs-YG: rgb(192, 149, 65);
$sp-abs-YL: rgb(212, 134, 0);
$sp-abs-YW: rgb(196, 133, 44);
$sp-abs-YY: rgb(248, 204, 42);
$sp-abs-YCA: rgb(194, 192, 169);

:export {
    sp-abs-BBI: $sp-abs-BBI;
    sp-abs-BBJ: $sp-abs-BBJ;
    sp-abs-BBQ: $sp-abs-BBQ;
    sp-abs-BDG: $sp-abs-BDG;
    sp-abs-BDH: $sp-abs-BDH;
    sp-abs-BE: $sp-abs-BE;
    sp-abs-BED: $sp-abs-BED;
    sp-abs-BEY: $sp-abs-BEY;
    sp-abs-BFJ: $sp-abs-BFJ;
    sp-abs-BFK: $sp-abs-BFK;
    sp-abs-BFL: $sp-abs-BFL;
    sp-abs-BFM: $sp-abs-BFM;
    sp-abs-BFN: $sp-abs-BFN;
    sp-abs-BFO: $sp-abs-BFO;
    sp-abs-BFP: $sp-abs-BFP;
    sp-abs-BFQ: $sp-abs-BFQ;
    sp-abs-BFR: $sp-abs-BFR;
    sp-abs-BFT: $sp-abs-BFT;
    sp-abs-BFU: $sp-abs-BFU;
    sp-abs-BGA: $sp-abs-BGA;
    sp-abs-BO: $sp-abs-BO;
    sp-abs-BX: $sp-abs-BX;
    sp-abs-GA: $sp-abs-GA;
    sp-abs-GAA: $sp-abs-GAA;
    sp-abs-GAL: $sp-abs-GAL;
    sp-abs-GAW: $sp-abs-GAW;
    sp-abs-GAY: $sp-abs-GAY;
    sp-abs-GB: $sp-abs-GB;
    sp-abs-GBA: $sp-abs-GBA;
    sp-abs-GC: $sp-abs-GC;
    sp-abs-GCF: $sp-abs-GCF;
    sp-abs-GCS: $sp-abs-GCS;
    sp-abs-GD: $sp-abs-GD;
    sp-abs-GDC: $sp-abs-GDC;
    sp-abs-GDV: $sp-abs-GDV;
    sp-abs-GDX: $sp-abs-GDX;
    sp-abs-GE: $sp-abs-GE;
    sp-abs-GEA: $sp-abs-GEA;
    sp-abs-GEQ: $sp-abs-GEQ;
    sp-abs-GER: $sp-abs-GER;
    sp-abs-GEV: $sp-abs-GEV;
    sp-abs-GEW: $sp-abs-GEW;
    sp-abs-GEZ: $sp-abs-GEZ;
    sp-abs-GFD: $sp-abs-GFD;
    sp-abs-GFE: $sp-abs-GFE;
    sp-abs-GFW: $sp-abs-GFW;
    sp-abs-GG: $sp-abs-GG;
    sp-abs-GGK: $sp-abs-GGK;
    sp-abs-GGM: $sp-abs-GGM;
    sp-abs-GGT: $sp-abs-GGT;
    sp-abs-GJV: $sp-abs-GJV;
    sp-abs-GKH: $sp-abs-GKH;
    sp-abs-GLK: $sp-abs-GLK;
    sp-abs-GLY: $sp-abs-GLY;
    sp-abs-GN: $sp-abs-GN;
    sp-abs-GO: $sp-abs-GO;
    sp-abs-GPA: $sp-abs-GPA;
    sp-abs-GPR: $sp-abs-GPR;
    sp-abs-GQM: $sp-abs-GQM;
    sp-abs-GRX: $sp-abs-GRX;
    sp-abs-GRY: $sp-abs-GRY;
    sp-abs-GSC: $sp-abs-GSC;
    sp-abs-GSL: $sp-abs-GSL;
    sp-abs-GSM: $sp-abs-GSM;
    sp-abs-GSP: $sp-abs-GSP;
    sp-abs-GSU: $sp-abs-GSU;
    sp-abs-GSX: $sp-abs-GSX;
    sp-abs-GSY: $sp-abs-GSY;
    sp-abs-GSZ: $sp-abs-GSZ;
    sp-abs-GTA: $sp-abs-GTA;
    sp-abs-GTB: $sp-abs-GTB;
    sp-abs-GTC: $sp-abs-GTC;
    sp-abs-GTD: $sp-abs-GTD;
    sp-abs-GTF: $sp-abs-GTF;
    sp-abs-GTG: $sp-abs-GTG;
    sp-abs-GTH: $sp-abs-GTH;
    sp-abs-GTL: $sp-abs-GTL;
    sp-abs-GTM: $sp-abs-GTM;
    sp-abs-GTQ: $sp-abs-GTQ;
    sp-abs-GTR: $sp-abs-GTR;
    sp-abs-GTT: $sp-abs-GTT;
    sp-abs-GTV: $sp-abs-GTV;
    sp-abs-GX: $sp-abs-GX;
    sp-abs-GY: $sp-abs-GY;
    sp-abs-NN: $sp-abs-NN;
    sp-abs-OAS: $sp-abs-OAS;
    sp-abs-OAV: $sp-abs-OAV;
    sp-abs-OB: $sp-abs-OB;
    sp-abs-OBC: $sp-abs-OBC;
    sp-abs-ON: $sp-abs-ON;
    sp-abs-RA: $sp-abs-RA;
    sp-abs-RAC: $sp-abs-RAC;
    sp-abs-RAS: $sp-abs-RAS;
    sp-abs-RBC: $sp-abs-RBC;
    sp-abs-RCJ: $sp-abs-RCJ;
    sp-abs-RCQ: $sp-abs-RCQ;
    sp-abs-RCR: $sp-abs-RCR;
    sp-abs-RCS: $sp-abs-RCS;
    sp-abs-RCU: $sp-abs-RCU;
    sp-abs-RDA: $sp-abs-RDA;
    sp-abs-RDD: $sp-abs-RDD;
    sp-abs-RDE: $sp-abs-RDE;
    sp-abs-RN: $sp-abs-RN;
    sp-abs-RR: $sp-abs-RR;
    sp-abs-TAA: $sp-abs-TAA;
    sp-abs-TBN: $sp-abs-TBN;
    sp-abs-TBT: $sp-abs-TBT;
    sp-abs-TEA: $sp-abs-TEA;
    sp-abs-TGG: $sp-abs-TGG;
    sp-abs-TGH: $sp-abs-TGH;
    sp-abs-TM: $sp-abs-TM;
    sp-abs-TN: $sp-abs-TN;
    sp-abs-TU: $sp-abs-TU;
    sp-abs-VAF: $sp-abs-VAF;
    sp-abs-VAG: $sp-abs-VAG;
    sp-abs-VAT: $sp-abs-VAT;
    sp-abs-VAV: $sp-abs-VAV;
    sp-abs-VBQ: $sp-abs-VBQ;
    sp-abs-VBV: $sp-abs-VBV;
    sp-abs-VCJ: $sp-abs-VCJ;
    sp-abs-VCK: $sp-abs-VCK;
    sp-abs-VCM: $sp-abs-VCM;
    sp-abs-VCO: $sp-abs-VCO;
    sp-abs-VCS: $sp-abs-VCS;
    sp-abs-VF: $sp-abs-VF;
    sp-abs-VH: $sp-abs-VH;
    sp-abs-VV: $sp-abs-VV;
    sp-abs-WA: $sp-abs-WA;
    sp-abs-WAR: $sp-abs-WAR;
    sp-abs-WBO: $sp-abs-WBO;
    sp-abs-WCK: $sp-abs-WCK;
    sp-abs-WEA: $sp-abs-WEA;
    sp-abs-WFK: $sp-abs-WFK;
    sp-abs-WFM: $sp-abs-WFM;
    sp-abs-WFO: $sp-abs-WFO;
    sp-abs-WQ: $sp-abs-WQ;
    sp-abs-WV: $sp-abs-WV;
    sp-abs-WW: $sp-abs-WW;
    sp-abs-YBP: $sp-abs-YBP;
    sp-abs-YCB: $sp-abs-YCB;
    sp-abs-YCC: $sp-abs-YCC;
    sp-abs-YCE: $sp-abs-YCE;
    sp-abs-YCF: $sp-abs-YCF;
    sp-abs-YCH: $sp-abs-YCH;
    sp-abs-YG: $sp-abs-YG;
    sp-abs-YL: $sp-abs-YL;
    sp-abs-YW: $sp-abs-YW;
    sp-abs-YY: $sp-abs-YY;
    sp-abs-YCA: $sp-abs-YCA;
}
