$sp-pbt-BCT: rgb(0, 117, 173);
$sp-pbt-BDJ: rgb(39, 144, 194);
$sp-pbt-BDO: rgb(0, 155, 202);
$sp-pbt-BFB: rgb(0, 120, 163);
$sp-pbt-BFC: rgb(167, 208, 219);
$sp-pbt-BFD: rgb(46, 110, 166);
$sp-pbt-BFE: rgb(149, 191, 232);
$sp-pbt-BFF: rgb(81, 192, 221);
$sp-pbt-BFG: rgb(121, 187, 236);
$sp-pbt-BFH: rgb(64, 143, 179);
$sp-pbt-BFV: rgb(93, 205, 227);
$sp-pbt-BFW: rgb(52, 164, 185);
$sp-pbt-BLACK: rgb(13, 13, 11);
$sp-pbt-GAH: rgb(129, 129, 126);
$sp-pbt-GCA: rgb(180, 178, 171);
$sp-pbt-GCH: rgb(160, 152, 136);
$sp-pbt-GDE: rgb(144, 149, 150);
$sp-pbt-GDL: rgb(172, 164, 148);
$sp-pbt-GDM: rgb(200, 196, 184);
$sp-pbt-GEC: rgb(146, 147, 144);
$sp-pbt-GGX: rgb(174, 174, 171);
$sp-pbt-GHO: rgb(175, 176, 174);
$sp-pbt-GJQ: rgb(130, 128, 122);
$sp-pbt-GJW: rgb(143, 135, 127);
$sp-pbt-GKK: rgb(196, 200, 197);
$sp-pbt-GKL: rgb(155, 147, 129);
$sp-pbt-GKP: rgb(141, 136, 122);
$sp-pbt-GMC: rgb(171, 172, 171);
$sp-pbt-GQC: rgb(161, 157, 145);
$sp-pbt-GQJ: rgb(186, 188, 186);
$sp-pbt-GQN: rgb(195, 185, 170);
$sp-pbt-GQP: rgb(164, 157, 151);
$sp-pbt-GQT: rgb(82, 85, 84);
$sp-pbt-GRA: rgb(193, 192, 183);
$sp-pbt-GRZ: rgb(174, 176, 176);
$sp-pbt-GSE: rgb(123, 120, 113);
$sp-pbt-GSF: rgb(45, 50, 56);
$sp-pbt-GSG: rgb(199, 192, 181);
$sp-pbt-GSJ: rgb(191, 192, 192);
$sp-pbt-GSK: rgb(162, 162, 166);
$sp-pbt-GSN: rgb(186, 183, 173);
$sp-pbt-GSO: rgb(155, 152, 141);
$sp-pbt-GSQ: rgb(130, 134, 135);
$sp-pbt-GTK: rgb(200, 193, 177);
$sp-pbt-GTP: rgb(146, 140, 125);
$sp-pbt-NQ: rgb(43, 44, 46);
$sp-pbt-OAL: rgb(255, 109, 26);
$sp-pbt-OAX: rgb(255, 121, 33);
$sp-pbt-OAY: rgb(255, 176, 123);
$sp-pbt-OAZ: rgb(241, 111, 59);
$sp-pbt-OBB: rgb(255, 127, 34);
$sp-pbt-OT: rgb(244, 121, 30);
$sp-pbt-OW: rgb(192, 71, 44);
$sp-pbt-RAA: rgb(193, 60, 57);
$sp-pbt-RAG: rgb(226, 103, 87);
$sp-pbt-RAR: rgb(203, 47, 42);
$sp-pbt-RBD: rgb(211, 25, 41);
$sp-pbt-RBH: rgb(184, 27, 36);
$sp-pbt-RBR: rgb(205, 46, 49);
$sp-pbt-RCA: rgb(210, 144, 180);
$sp-pbt-RCB: rgb(133, 126, 177);
$sp-pbt-RCC: rgb(209, 60, 66);
$sp-pbt-RCD: rgb(191, 186, 209);
$sp-pbt-RCE: rgb(108, 102, 128);
$sp-pbt-RCF: rgb(199, 72, 82);
$sp-pbt-RCG: rgb(255, 178, 210);
$sp-pbt-RCH: rgb(255, 173, 206);
$sp-pbt-RCK: rgb(200, 51, 55);
$sp-pbt-RCL: rgb(243, 150, 171);
$sp-pbt-RCM: rgb(155, 100, 130);
$sp-pbt-RCP: rgb(205, 47, 44);
$sp-pbt-TGJ: rgb(73, 33, 13);
$sp-pbt-TT: rgb(192, 164, 128);
$sp-pbt-UP: rgb(227, 226, 221);
$sp-pbt-VAL: rgb(108, 162, 157);
$sp-pbt-VAZ: rgb(0, 144, 87);
$sp-pbt-VBD: rgb(147, 201, 183);
$sp-pbt-VCA: rgb(0, 152, 126);
$sp-pbt-VCB: rgb(133, 187, 168);
$sp-pbt-VCC: rgb(69, 184, 102);
$sp-pbt-VCD: rgb(0, 109, 89);
$sp-pbt-VCE: rgb(122, 218, 189);
$sp-pbt-VCG: rgb(11, 171, 78);
$sp-pbt-VCH: rgb(0, 164, 119);
$sp-pbt-VCR: rgb(0, 131, 62);
$sp-pbt-VCT: rgb(11, 171, 74);
$sp-pbt-VS: rgb(36, 83, 67);
$sp-pbt-WAN: rgb(232, 231, 227);
$sp-pbt-WAS: rgb(223, 218, 207);
$sp-pbt-WAT: rgb(194, 190, 177);
$sp-pbt-WBK: rgb(226, 219, 202);
$sp-pbt-WBR: rgb(199, 195, 180);
$sp-pbt-WCS: rgb(195, 191, 174);
$sp-pbt-WCV: rgb(208, 198, 185);
$sp-pbt-WCX: rgb(229, 219, 202);
$sp-pbt-WDG: rgb(241, 237, 230);
$sp-pbt-WFJ: rgb(217, 218, 224);
$sp-pbt-WFN: rgb(200, 196, 182);
$sp-pbt-YAF: rgb(255, 224, 141);
$sp-pbt-YAM: rgb(255, 209, 0);
$sp-pbt-YAS: rgb(249, 205, 49);
$sp-pbt-YBT: rgb(244, 220, 156);
$sp-pbt-YBV: rgb(250, 208, 61);
$sp-pbt-YBX: rgb(213, 213, 75);
$sp-pbt-YBZ: rgb(212, 135, 42);
$sp-pbt-YCJ: rgb(232, 169, 0);
$sp-pbt-YR: rgb(255, 193, 0);

:export {
    sp-pbt-BCT: $sp-pbt-BCT;
    sp-pbt-BDJ: $sp-pbt-BDJ;
    sp-pbt-BDO: $sp-pbt-BDO;
    sp-pbt-BFB: $sp-pbt-BFB;
    sp-pbt-BFC: $sp-pbt-BFC;
    sp-pbt-BFD: $sp-pbt-BFD;
    sp-pbt-BFE: $sp-pbt-BFE;
    sp-pbt-BFF: $sp-pbt-BFF;
    sp-pbt-BFG: $sp-pbt-BFG;
    sp-pbt-BFH: $sp-pbt-BFH;
    sp-pbt-BFV: $sp-pbt-BFV;
    sp-pbt-BFW: $sp-pbt-BFW;
    sp-pbt-BLACK: $sp-pbt-BLACK;
    sp-pbt-GAH: $sp-pbt-GAH;
    sp-pbt-GCA: $sp-pbt-GCA;
    sp-pbt-GCH: $sp-pbt-GCH;
    sp-pbt-GDE: $sp-pbt-GDE;
    sp-pbt-GDL: $sp-pbt-GDL;
    sp-pbt-GDM: $sp-pbt-GDM;
    sp-pbt-GEC: $sp-pbt-GEC;
    sp-pbt-GGX: $sp-pbt-GGX;
    sp-pbt-GHO: $sp-pbt-GHO;
    sp-pbt-GJQ: $sp-pbt-GJQ;
    sp-pbt-GJW: $sp-pbt-GJW;
    sp-pbt-GKK: $sp-pbt-GKK;
    sp-pbt-GKL: $sp-pbt-GKL;
    sp-pbt-GKP: $sp-pbt-GKP;
    sp-pbt-GMC: $sp-pbt-GMC;
    sp-pbt-GQC: $sp-pbt-GQC;
    sp-pbt-GQJ: $sp-pbt-GQJ;
    sp-pbt-GQN: $sp-pbt-GQN;
    sp-pbt-GQP: $sp-pbt-GQP;
    sp-pbt-GQT: $sp-pbt-GQT;
    sp-pbt-GRA: $sp-pbt-GRA;
    sp-pbt-GRZ: $sp-pbt-GRZ;
    sp-pbt-GSE: $sp-pbt-GSE;
    sp-pbt-GSF: $sp-pbt-GSF;
    sp-pbt-GSG: $sp-pbt-GSG;
    sp-pbt-GSJ: $sp-pbt-GSJ;
    sp-pbt-GSK: $sp-pbt-GSK;
    sp-pbt-GSN: $sp-pbt-GSN;
    sp-pbt-GSO: $sp-pbt-GSO;
    sp-pbt-GSQ: $sp-pbt-GSQ;
    sp-pbt-GTK: $sp-pbt-GTK;
    sp-pbt-GTP: $sp-pbt-GTP;
    sp-pbt-NQ: $sp-pbt-NQ;
    sp-pbt-OAL: $sp-pbt-OAL;
    sp-pbt-OAX: $sp-pbt-OAX;
    sp-pbt-OAY: $sp-pbt-OAY;
    sp-pbt-OAZ: $sp-pbt-OAZ;
    sp-pbt-OBB: $sp-pbt-OBB;
    sp-pbt-OT: $sp-pbt-OT;
    sp-pbt-OW: $sp-pbt-OW;
    sp-pbt-RAA: $sp-pbt-RAA;
    sp-pbt-RAG: $sp-pbt-RAG;
    sp-pbt-RAR: $sp-pbt-RAR;
    sp-pbt-RBD: $sp-pbt-RBD;
    sp-pbt-RBH: $sp-pbt-RBH;
    sp-pbt-RBR: $sp-pbt-RBR;
    sp-pbt-RCA: $sp-pbt-RCA;
    sp-pbt-RCB: $sp-pbt-RCB;
    sp-pbt-RCC: $sp-pbt-RCC;
    sp-pbt-RCD: $sp-pbt-RCD;
    sp-pbt-RCE: $sp-pbt-RCE;
    sp-pbt-RCF: $sp-pbt-RCF;
    sp-pbt-RCG: $sp-pbt-RCG;
    sp-pbt-RCH: $sp-pbt-RCH;
    sp-pbt-RCK: $sp-pbt-RCK;
    sp-pbt-RCL: $sp-pbt-RCL;
    sp-pbt-RCM: $sp-pbt-RCM;
    sp-pbt-RCP: $sp-pbt-RCP;
    sp-pbt-TGJ: $sp-pbt-TGJ;
    sp-pbt-TT: $sp-pbt-TT;
    sp-pbt-UP: $sp-pbt-UP;
    sp-pbt-VAL: $sp-pbt-VAL;
    sp-pbt-VAZ: $sp-pbt-VAZ;
    sp-pbt-VBD: $sp-pbt-VBD;
    sp-pbt-VCA: $sp-pbt-VCA;
    sp-pbt-VCB: $sp-pbt-VCB;
    sp-pbt-VCC: $sp-pbt-VCC;
    sp-pbt-VCD: $sp-pbt-VCD;
    sp-pbt-VCE: $sp-pbt-VCE;
    sp-pbt-VCG: $sp-pbt-VCG;
    sp-pbt-VCH: $sp-pbt-VCH;
    sp-pbt-VCR: $sp-pbt-VCR;
    sp-pbt-VCT: $sp-pbt-VCT;
    sp-pbt-VS: $sp-pbt-VS;
    sp-pbt-WAN: $sp-pbt-WAN;
    sp-pbt-WAS: $sp-pbt-WAS;
    sp-pbt-WAT: $sp-pbt-WAT;
    sp-pbt-WBK: $sp-pbt-WBK;
    sp-pbt-WBR: $sp-pbt-WBR;
    sp-pbt-WCS: $sp-pbt-WCS;
    sp-pbt-WCV: $sp-pbt-WCV;
    sp-pbt-WCX: $sp-pbt-WCX;
    sp-pbt-WDG: $sp-pbt-WDG;
    sp-pbt-WFJ: $sp-pbt-WFJ;
    sp-pbt-WFN: $sp-pbt-WFN;
    sp-pbt-YAF: $sp-pbt-YAF;
    sp-pbt-YAM: $sp-pbt-YAM;
    sp-pbt-YAS: $sp-pbt-YAS;
    sp-pbt-YBT: $sp-pbt-YBT;
    sp-pbt-YBV: $sp-pbt-YBV;
    sp-pbt-YBX: $sp-pbt-YBX;
    sp-pbt-YBZ: $sp-pbt-YBZ;
    sp-pbt-YCJ: $sp-pbt-YCJ;
    sp-pbt-YR: $sp-pbt-YR;
}
