@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Signika'); // font for KAT Lich
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import './scss/gmk-abs';
@import './scss/sp-abs';
@import './scss/sp-pbt';
@import './scss/pantone';
@import './scss/ral';
@import './scss/colorways';

.page-container {
  min-height: 100vh;
  margin: 24px;
}

.footer {
  padding: 24px !important;
  text-align: center;
}

.key {
  display: flex;
  position: absolute;
  box-sizing: border-box;
  white-space: pre-line;
  padding: 1px;
  // padding-bottom: 3px;

  &.hidden-key {
    display: none;
  }

  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  // font-size: var(--default-key-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 0px -1px 0px 3px inset rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  // width: calc(
  //   var(--unit-width) * var(--default-key-x-spacing) -
  //     (var(--default-key-x-spacing) - var(--default-key-width))
  // );
  // height: calc(
  //   var(--unit-height) * var(--default-key-y-spacing) -
  //     (var(--default-key-y-spacing) - var(--default-key-height))
  // );
}

.sa, .dsa, .kat {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: x-large;
  text-transform: uppercase;
  &.smaller {
    font-size: smaller;
    font-weight: bolder;
  }
  &.special-chars {
    font-size: medium;
  }
}

.gmk, .jtk {
  font-family: 'Varela Round', sans-serif;
  font-size: larger;
  font-weight: bolder;
  padding-left: 6px;
  &.smaller {
    font-size: smaller;
    align-items: center;
  }
  &.special-chars {
    font-size: medium;
  }
}

.bilingual-BR {
  align-self: flex-end;
  margin-left: auto;
  padding-right: 6px;
}

.keyboard-box {
  min-height: 750px;
}

.keyboard-drawer {
  left: 50%;
  transform: translateX(-50%);
}