/**
 * DSA Keysets
 */

.dsa-galaxy-class-key {
  background: $sp-pbt-BFE;
  color: $sp-pbt-BLACK;
}
.dsa-galaxy-class-mod {
  // yellow
  background: $pantone-141C;
  color: $sp-pbt-BLACK;
}
.dsa-galaxy-class-purple {
  background: $sp-pbt-RCB;
  color: $sp-pbt-BLACK;
}
.dsa-galaxy-class-darker-blue {
  background: $sp-pbt-BDJ;
  color: $sp-pbt-BLACK;
}
.dsa-galaxy-class-pink {
  background: $sp-pbt-RCA;
  color: $sp-pbt-BLACK;
}
.dsa-galaxy-class-light-blue {
  background: $sp-pbt-BFE;
  color: $sp-pbt-BLACK;
}
.dsa-galaxy-class-gray {
  background: $sp-pbt-GQT;
  color: $sp-pbt-BLACK;
}

.dsa-drifter-key {
  background: #e5e1e6;
  color: #222222;
}
.dsa-drifter-mod {
  background: #9b2242;
  color: #71dbd4;
}

.dsa-milkshake-key,
.dsa-milkshake-mod {
  background: white;
  color: #232d43;
}
.dsa-milkshake-esc {
  background: #f0849e;
}
.dsa-milkshake-backspace {
  background: #f1ed8a;
}
.dsa-milkshake-enter {
  background: #8ce1ce;
}
.dsa-milkshake-alt {
  background: #75cde8;
}
.dsa-milkshake-os {
  background: #c091ed;
}