/**
 * GMK Keysets
 */

.gmk-8008-key {
  background: #8d98a7;
  color: #313943;
}
.gmk-8008-mod {
  background: #313943;
  color: #fe5487;
}
.gmk-8008-accent {
  background: #fe5487;
  color: #313943;
}

.gmk-9009-key {
  background: $gmk-abs-L9;
  color: $gmk-abs-CR;
}
.gmk-9009-mod {
  background: $gmk-abs-U9;
  color: $gmk-abs-CR;
}
.gmk-9009-esc {
  background: $gmk-abs-3C;
  color: $gmk-abs-CR;
}
.gmk-9009-enter {
  background: $gmk-abs-3B;
  color: $gmk-abs-CR;
}

.gmk-analog-dreams-key {
  background: $gmk-abs-L9;
  color: #ac4fc6;
}
.gmk-analog-dreams-mod {
  background: #9de7d7;
  color: #ac4fc6;
}
.gmk-analog-dreams-esc {
  background: #f2f0a1;
  color: #ac4fc6;
}
.gmk-analog-dreams-enter {
  background: #f1b2dc;
  color: #ac4fc6;
}

.gmk-apollo-key {
  background: $pantone-431C;
  color: $pantone-CoolGray2C;
}
.gmk-apollo-mod {
  background: $pantone-4140C;
  color: $pantone-CoolGray2C;
}
.gmk-apollo-accent {
  background: $pantone-CoolGray2C;
  color: $pantone-4140C;
}

.gmk-ascii-key,
.gmk-ascii-mod {
  background: $gmk-abs-2B;
  color: $gmk-abs-2M;
}

.gmk-ashes-key {
  background: $ral-260-40-05;
  color: $ral-250-85-05;
}
.gmk-ashes-mod {
  background: $ral-250-85-05;
  color: $ral-260-60-05;
}
.gmk-ashes-accent {
  background: $gmk-abs-CR;
  color: $ral-250-85-05;
}

.gmk-bento-key {
  background: $gmk-abs-WS1;
  color: $ral-240-50-25;
  &.revival {
    background: $ral-240-50-25;
    color: #fb7279;
  }
}
.gmk-bento-mod {
  background: $ral-240-50-25;
  color: #fb7279;
}
.gmk-bento-accent {
  background: #fb7279;
  color: $gmk-abs-WS1;
}

.gmk-beta-key {
  background: $gmk-abs-L9;
  color: $gmk-abs-CR;
}
.gmk-beta-mod {
  background: $gmk-abs-2B;
  color: $gmk-abs-CR;
}
.gmk-beta-accent {
  background: $gmk-abs-V2;
  color: $gmk-abs-CR;
  &.js {
    background: $gmk-abs-RO2;
  }
}

.gmk-bingsu-key {
  background: #946777;
  color: $gmk-abs-CP;
}
.gmk-bingsu-mod {
  background: #533d45;
  color: $gmk-abs-CP;
}
.gmk-bingsu-accent {
  background: $gmk-abs-CP;
  color: #533d45;
}

.gmk-botanica-key {
  background: $pantone-656C;
  color: $pantone-5575C;
}
.gmk-botanica-mod {
  background: $pantone-5477C;
  color: $pantone-5575C;
}
.gmk-botanica-accent {
  background: $pantone-5575C;
  color: $pantone-5477C;
}

.gmk-bread-key {
  background: $ral-1015;
  color: $ral-8008;
}
.gmk-bread-mod {
  background: $ral-8008;
  color: $ral-1015;
}
.gmk-bread-accent {
  background: $ral-1011;
  color: $ral-8008;
}

.gmk-cafe-key {
  background: $gmk-abs-L9;
  color: #3d3635;
}
.gmk-cafe-mod {
  background: #3d3635;
  color: $gmk-abs-L9;
}
.gmk-cafe-accent {
  background: #d0b084;
  color: #3d3635;
}

.gmk-camping-key {
  background: $sp-abs-WCK;
  color: $sp-abs-VF;
}
.gmk-camping-mod {
  background: $sp-abs-VF;
  color: $sp-abs-WCK;
}
.gmk-camping-accent {
  background: $sp-abs-RBC;
  color: $sp-abs-WCK;
}

.gmk-calm-depths-key {
  background: #2e3b51;
  color: #22aabc;
}
.gmk-calm-depths-mod {
  background: #4a4f58;
  color: #22aabc;
}

.gmk-copper-key {
  background: $pantone-7522C;
  color: $ral-8017;
}
.gmk-copper-mod {
  background: $ral-8017;
  color: $pantone-7522C;
}
.gmk-copper-accent {
  background: $ral-6027;
  color: $ral-8017;
}

.gmk-deku-key {
  background: #298286;
  color:#e5e1de;
}
.gmk-deku-mod {
  background:#e5e1de;
  color: #298286;
}
.gmk-deku-accent {
  background: #b03232;
  color:#e5e1de;
}

.gmk-dolch-r5-key {
  background: $gmk-abs-CC;
  color: $gmk-abs-CP;
}
.gmk-dolch-r5-mod {
  background: $gmk-abs-N9;
  color: $gmk-abs-CP;
}
.gmk-dolch-r5-accent {
  background: $gmk-abs-P3;
  color: $gmk-abs-CP;
}

.gmk-dolch-key {
  background: $gmk-abs-CC;
  color: $gmk-abs-WS1;
}
.gmk-dolch-mod {
  background: $gmk-abs-N9;
  color: $gmk-abs-WS1;
}

.gmk-evil-dolch-key {
  background: $gmk-abs-N9;
  color: $gmk-abs-WS1;
}
.gmk-evil-dolch-mod {
  background: $gmk-abs-CR;
  color: $gmk-abs-RO1;
}

.gmk-hammerhead-key {
  background: $pantone-533C;
  color: $pantone-3258C;
  &.light {
    background: $pantone-536C;
    color: $pantone-2378C;
  }
}
.gmk-hammerhead-mod {
  background: $pantone-2378C;
  color: $pantone-3258C;
}
.gmk-hammerhead-accent {
  background: $pantone-3258C;
  color: $pantone-2378C;
}

.gmk-hanguk-key {
  background: $gmk-abs-WS1;
  color: $pantone-294C;
}
.gmk-hanguk-mod {
  background: $pantone-186C;
  color: $pantone-294C;
}
.gmk-hanguk-accent {
  background: $pantone-294C;
  color: $gmk-abs-WS1;
}

.gmk-honey-key {
  background: $pantone-2001C;
  color: $pantone-123C;
  &.alt-alphas {
    background: $pantone-123C;
    color: $pantone-2001C;
  }
}
.gmk-honey-mod {
  background: $pantone-123C;
  color: $pantone-2001C;
}
.gmk-honey-accent {
  background: $pantone-7570C;
  color: $pantone-2001C;
}

.gmk-ishtar-key {
  background: $ral-1015;
  color: $ral-3020;
  &.kuro {
    background: $ral-9017;
    color: $ral-3020;
  }
}
.gmk-ishtar-mod {
  background: $ral-9017;
  color: $ral-3020;
}
.gmk-ishtar-accent {
  background: $ral-1017;
  color: $ral-3020;
}

.gmk-jamon-key {
  background: #84172c;
  color: #ece4d0;
}
.gmk-jamon-mod {
  background: #ac2c32;
  color: #ece4d0;
}
.gmk-jamon-accent {
  background: #ece4d0;
  color: #313337;
}

.gmk-kaiju-key {
  background: $gmk-abs-L9;
  color: $pantone-172C;
  // &.translations {
  //   background: $gmk-abs-L9;
  //   color: $pantone-172C;
  // }
}
.gmk-kaiju-mod {
  background: $ral-170-40-20;
  color: $gmk-abs-L9;
}
.gmk-kaiju-accent {
  background: $pantone-172C;
  color: $gmk-abs-L9;
}

.gmk-mecha-01-key {
  background: $pantone-267C;
  color: $pantone-802C;

  &.berserk {
    color: $gmk-abs-RO2;
  }
}
.gmk-mecha-01-mod {
  background: $gmk-abs-CR;
  color: $pantone-802C;
}
.gmk-mecha-01-accent {
  background: $gmk-abs-CR;
  color: $gmk-abs-RO2;
}
.gmk-mecha-01-accent2 {
  background: $gmk-abs-CR;
  color: $gmk-abs-V2;
}

.gmk-merlin-key {
  background: $gmk-abs-CP;
  color: $gmk-abs-TU1;
}
.gmk-merlin-mod {
  background: $gmk-abs-TU1;
  color: $gmk-abs-N6;
}
.gmk-merlin-accent {
  background: $gmk-abs-N6;
  color: $gmk-abs-TU1;
}

.gmk-metaverse-key {
  background: $gmk-abs-WS1;
  color: $gmk-abs-CR;
}
.gmk-metaverse-mod {
  background: $gmk-abs-CR;
  color: $gmk-abs-WS1;
}
.gmk-metaverse-accent {
  background: $gmk-abs-RO2;
  color: $gmk-abs-WS1;
}

.gmk-mizu-key {
  background: #c2d9e4;
  color: #444f58;
}
.gmk-mizu-mod {
  background: #444f58;
  color: #f7eee3;
}
.gmk-mizu-accent {
  background: #f7eee3;
  color: #444f58;
}

.gmk-nautilus-key {
  background: $pantone-534C;
  color: $gmk-abs-TU2;
}
.gmk-nautilus-mod {
  background: $pantone-533C;
  color: $gmk-abs-N6;
}
.gmk-nautilus-accent {
  background: $gmk-abs-N6;
  color: $pantone-533C;
}

.gmk-noel-key {
  background: $gmk-abs-WS2;
  color: $ral-230-70-30;
}
.gmk-noel-mod {
  background: $ral-210-85-15;
  color: $ral-230-70-30;
}
.gmk-noel-accent {
  background: $ral-010-80-20;
  color: $gmk-abs-WS2;
}

.gmk-oblivion-key {
  background: $sp-abs-GD;
  color: $sp-abs-GAL;
  &.hagoromo {
    background: $gmk-abs-CP;
    color: $sp-abs-GD;
  }
}
.gmk-oblivion-mod {
  background: $sp-abs-GQM;
  color: $sp-abs-GAL;
}
.gmk-oblivion-accent {
  background: $sp-abs-BFP;
  color: $sp-abs-BFN;
}

.gmk-olivetti-key {
  background: $gmk-abs-CP;
  color: $gmk-abs-V4;
}
.gmk-olivetti-mod {
  background: $gmk-abs-U9;
  color: $gmk-abs-V4;
}
.gmk-olivetti-accent {
  background: $gmk-abs-V4;
  color: $gmk-abs-CP;
}

.gmk-olivia-key {
  background: $gmk-abs-CP;
  color: #363434;
}
.gmk-olivia-mod {
  background: #363434;
  color: #e8c4b8;
}
.gmk-olivia-accent {
  background: #e8c4b8;
  color: #363434;
}

.gmk-plum-key {
  background: #ded0af;
  color: #736b7c;
}
.gmk-plum-mod {
  background: #736b7c;
  color: #ded0af;
}
.gmk-plum-accent {
  background: #863f48;
  color: #ded0af;
}

.gmk-posh-key {
  background: $gmk-abs-CP;
  color: $ral-5022;
  &.alt-alphas {
    color: $ral-3015;
  }
}
.gmk-posh-mod {
  background: $ral-5022;
  color: $ral-3015;
  &.alt-mods {
    background: $ral-3015;
    color: $ral-5022;
  }
}
.gmk-posh-accent {
  background: $ral-3015;
  color: $ral-5022;
}

.gmk-rainy-day-key {
  background: $pantone-15-4101TCX;
  color: $pantone-10393C;
}
.gmk-rainy-day-mod {
  background: $pantone-10393C;
  color: $pantone-9481C;
}
.gmk-rainy-day-accent {
  background: $pantone-9481C;
  color: $pantone-10393C;
}

.gmk-rouge-key {
  background: $ral-290-20-15;
  color: $ral-320-50-20;
}
.gmk-rouge-mod {
  background: $ral-290-20-15;
  color: $ral-320-50-20;
}
.gmk-rouge-accent1 {
  background: $ral-310-20-20;
  color: $ral-320-50-20;
}
.gmk-rouge-accent2 {
  background: $ral-310-30-20;
  color: $ral-320-50-20;
}
.gmk-rouge-accent3 {
  background: $ral-300-30-20;
  color: $ral-320-50-20;
}
.gmk-rouge-accent4 {
  background: $ral-300-30-15;
  color: $ral-320-50-20;
}

.gmk-serika-key {
  background: $ral-090-90-10;
  color: $gmk-abs-N9;
}
.gmk-serika-mod {
  background: $pantone-116C;
  color: $gmk-abs-N9;
}
.gmk-serika-accent {
  background: $gmk-abs-N9;
  color: $ral-090-90-10;
}

.gmk-shoko-key {
  background: $pantone-656C;
  color: $pantone-5425C;
}
.gmk-shoko-mod {
  background: $pantone-5425C;
  color: $pantone-656C;
}
.gmk-shoko-accent {
  background: $pantone-2975C;
  color: $pantone-656C;
}

.gmk-shorebound-key {
  background: $pantone-636C;
  color: $ral-290-20-35;
}
.gmk-shorebound-mod {
  background: $pantone-149C;
  color: $ral-040-30-40;
}
.gmk-shorebound-accent {
  background: $pantone-7462C;
  color: $pantone-149C;
}

.gmk-space-cadet-key {
  background: $sp-abs-GD;
  color: $gmk-abs-CP;
}

.gmk-space-cadet-mod {
  background: $sp-abs-BFP;
  color: $gmk-abs-CP;
}

.gmk-striker-key {
  background: #004d7c;
  color: $gmk-abs-WS1;
}
.gmk-striker-mod {
  background: #004d7c;
  color: $gmk-abs-WS1;
}
.gmk-striker-accent {
  background: #002e51;
  color: $gmk-abs-WS1;
}

.gmk-sumi-key {
  background: $ral-5004;
  color: $gmk-abs-WS1;
}

.gmk-sumi-mod {
  background: $gmk-abs-WS1;
  color: $ral-5004;
}
.gmk-sumi-accent {
  background: $ral-3028;
  color: $gmk-abs-WS1;
}

.gmk-ta-royal-alpha-key {
  background: $gmk-abs-3K;
  color: $gmk-abs-N7;
}
.gmk-ta-royal-alpha-mod {
  background: $gmk-abs-AE;
  color: $gmk-abs-CP;
}
.gmk-ta-royal-alpha-accent {
  background: $gmk-abs-N7;
  color: $gmk-abs-CP;
}

.gmk-taro-key {
  background: #8E71A2;
  color: #170B19;
  &.boba {
    background: #170B19;
    color: #8E71A2;
  }
}
.gmk-taro-mod {
  background: #170B19;
  color: #8E71A2;
  &.milk-tea {
    background: #8E71A2;
    color: #170B19;
  }
}
.gmk-taro-accent {
  background: $gmk-abs-TU2;
  color: #170B19;
}
.gmk-taro-accent2 {
  background: $gmk-abs-CV;
  color: #170B19;
}

.gmk-terminal-key,
.gmk-terminal-mod {
  background: $gmk-abs-N9;
  color: $gmk-abs-AE;
}
.gmk-terminal-accent {
  background: $gmk-abs-AE;
  color: $gmk-abs-N9;
}

.gmk-ursa-key {
  background: $gmk-abs-CP;
  color: $ral-7006;
}
.gmk-ursa-mod {
  background: $ral-7006;
  color: $gmk-abs-CP;
}
.gmk-ursa-accent {
  background: $gmk-abs-3A;
  color: $gmk-abs-CP;
}

.gmk-wild-key {
  background: $gmk-abs-N9;
  color: $gmk-abs-U9;
}
.gmk-wild-mod {
  background: $gmk-abs-U9;
  color: $gmk-abs-N9;
}
.gmk-wild-accent1 {
  background: $pantone-8721C;
  color: $gmk-abs-U9;
}
.gmk-wild-accent2 {
  background: $pantone-4100C;
  color: $gmk-abs-U9;
}

.gmk-wob-key {
  background: $gmk-abs-CR;
  color: $gmk-abs-WS1;
}
.gmk-wob-mod {
  background: $gmk-abs-CR;
  color: $gmk-abs-WS1;
}

.gmk-yuri-key {
  background: #c7e6f5;
  color: #f54730;
}
.gmk-yuri-mod {
  background: #2d394c;
  color: #f54730;
}
.gmk-yuri-accent {
  background: #f54730;
  color: #2d394c;
}

.gmk-yuru-key {
  background: $gmk-abs-CP;
  color: $ral-010-30-30;
}
.gmk-yuru-mod {
  background: $ral-010-30-30;
  color: $gmk-abs-CP;
}
.gmk-yuru-accent {
  background: $ral-190-80-25;
  color: $gmk-abs-WS2;
}
