/**
 * KAT Keysets
 */

.kat-hyperfuse-key {
  background: $color-gmk-abs-2M;
  color: $color-gmk-abs-DY;
  input,
  .key-contents {
    background: darken($color-gmk-abs-2M, 10%);
    color: lighten($color-gmk-abs-DY, 5%);
    border-color: mix($color-gmk-abs-2M, lighten($color-gmk-abs-DY, 5%));
  }
}
.kat-hyperfuse-mod {
  background: $color-gmk-abs-2B;
  color: $color-gmk-abs-TU2;
  input,
  .key-contents {
    background: darken($color-gmk-abs-2B, 10%);
    color: $color-gmk-abs-TU2;
    border-color: mix($color-gmk-abs-2B, $color-gmk-abs-TU2);
  }
}
.kat-hyperfuse-accent {
  background: $color-gmk-abs-TU2;
  color: $color-gmk-abs-DY;
  input {
    background: lighten($color-gmk-abs-TU2, 40%);
  }
}
.kat-hyperfuse-accent2 {
  background: $color-gmk-abs-DY;
  color: $color-gmk-abs-TU2;
  input {
    background: lighten($color-gmk-abs-DY, 40%);
  }
}

.kat-lich-key {
  font-family: 'Signika', sans-serif !important;
  text-transform: lowercase !important;
  background: $color-pantone-2085C;
  color: $color-pantone-4119C;
  input,
  .key-contents {
    background: darken($color-pantone-2085C, 10%);
    color: lighten($color-pantone-4119C, 5%);
    border-color: mix($color-pantone-2085C, lighten($color-pantone-4119C, 5%));
  }
}
.kat-lich-mod {
  font-family: 'Signika', sans-serif !important;
  text-transform: lowercase !important;
  background: $color-pantone-4126C;
  color: $color-pantone-2008C;
  input,
  .key-contents {
    background: darken($color-pantone-4126C, 10%);
    color: $color-pantone-2008C;
    border-color: mix($color-pantone-4126C, $color-pantone-2008C);
  }
}
.kat-lich-accent {
  font-family: 'Signika', sans-serif !important;
  text-transform: lowercase !important;
  background: $color-pantone-2008C;
  color: $color-pantone-4119C;
  input {
    background: lighten($color-pantone-2008C, 40%);
  }
}

.kat-oasis-key {
  background: $color-pantone-155C;
  color: $color-pantone-7617C;
  input,
  .key-contents {
    background: darken($color-pantone-155C, 10%);
    color: lighten($color-pantone-7617C, 5%);
    border-color: mix($color-pantone-155C, lighten($color-pantone-7617C, 5%));
  }
}
.kat-oasis-mod {
  background: $color-pantone-317C;
  color: $color-pantone-7617C;
  input,
  .key-contents {
    background: darken($color-pantone-317C, 10%);
    color: $color-pantone-7617C;
    border-color: mix($color-pantone-317C, $color-pantone-7617C);
  }
}
.kat-oasis-accent {
  background: $color-pantone-7617C;
  color: $color-pantone-155C;
  input {
    background: lighten($color-pantone-7617C, 40%);
  }
}
