/**
 * KAT Keysets
 */

.kat-hyperfuse-key {
  background: #dadbd6;
  color: #7f55a2;
}
.kat-hyperfuse-mod {
  background: #7b8788;
  color: #75bdaa;
}
.kat-hyperfuse-accent {
  background: #75bdaa;
  color: #7f55a2;
}
.kat-hyperfuse-accent2 {
  background: #7f55a2;
  color: #75bdaa;
}

.kat-lich-key {
  font-family: 'Signika', sans-serif !important;
  text-transform: lowercase !important;
  background: $color-pantone-2085C;
  color: $color-pantone-4119C;
}
.kat-lich-mod {
  font-family: 'Signika', sans-serif !important;
  text-transform: lowercase !important;
  background: $color-pantone-4126C;
  color: $color-pantone-2008C;
}
.kat-lich-accent {
  font-family: 'Signika', sans-serif !important;
  text-transform: lowercase !important;
  background: $color-pantone-2008C;
  color: $color-pantone-4119C;
}

.kat-oasis-key {
  background: $color-pantone-155C;
  color: $color-pantone-7617C;
}
.kat-oasis-mod {
  background: $color-pantone-317C;
  color: $color-pantone-7617C;
}
.kat-oasis-accent {
  background: $color-pantone-7617C;
  color: $color-pantone-155C;
}
