/**
 * SA Keysets
 */

.sa-arcane-key {
  background: $color-sp-abs-WFK;
  color: $color-sp-abs-RDA;
}
.sa-arcane-mod {
  background: $color-sp-abs-RDA;
  color: $color-sp-abs-WFK;
}
.sa-arcane-accent {
  background: $color-sp-abs-BBJ;
  color: $color-sp-abs-RDA;
}

.sa-bliss-key {
  background: $color-sp-abs-GC;
  color: $color-pantone-13-1406;
}
.sa-bliss-mod {
  background: $color-sp-abs-GC;
  color: $color-pantone-13-1406;
}
.sa-bliss-accent {
  background: $color-pantone-13-1406;
  color: $color-sp-abs-GC;
}

.sa-bubble-key {
  background: $color-sp-abs-WCK;
  color: $color-pantone-13-1520;
}
.sa-bubble-mod {
  background: $color-pantone-15-3919;
  color: $color-sp-abs-WCK;
}
.sa-bubble-accent {
  background: $color-pantone-13-1520;
  color: $color-sp-abs-WCK;
}

.sa-carbon-key {
  background: $color-sp-abs-WBO;
  color: $color-sp-abs-GQM;
}
.sa-carbon-mod {
  background: $color-sp-abs-GQM;
  color: $color-sp-abs-OBC;
}
.sa-carbon-accent {
  background: $color-sp-abs-OBC;
  color: $color-sp-abs-GQM;
}

.sa-danger-zone-key {
  background: $color-sp-abs-BFU;
  color: $color-sp-abs-YY;
}
.sa-danger-zone-mod {
  background: $color-sp-abs-GSM;
  color: $color-sp-abs-YY;
}
.sa-danger-zone-accent-yellow {
  background: $color-sp-abs-YY;
  color: $color-sp-abs-BFU;
}
.sa-danger-zone-accent-red {
  background: $color-sp-abs-RAS;
  color: $color-sp-abs-YY;
}
.sa-dream-eater-key {
  background: $color-sp-abs-BBI;
  color: $color-sp-abs-RCJ;
}

.sa-dream-eater-mod {
  background: $color-sp-abs-BBI;
  color: $color-sp-abs-RCJ;
}

.sa-dream-eater-accent1 {
  background: $color-sp-abs-VBV;
  color: $color-sp-abs-BBI;
}

.sa-dream-eater-accent2 {
  background: $color-sp-abs-BFL;
  color: $color-sp-abs-BBI;
}

.sa-dream-eater-accent3 {
  background: #3b6f75;
  color: $color-sp-abs-BBI;
}

.sa-dream-eater-accent4 {
  background: $color-sp-abs-BED;
  color: $color-sp-abs-RCJ;
}

.sa-hunter-killua-key {
  background: $color-pantone-2085C;
  color: $color-sp-abs-BFU;
}
.sa-hunter-killua-mod {
  background: $color-sp-abs-BFU;
  color: $color-pantone-2085C;
}
.sa-hunter-killua-accent {
  background: $color-sp-abs-RDE;
  color: $color-pantone-2085C;
}

.sa-jukebox-key {
  background: $color-sp-abs-TM;
  color: $color-sp-abs-RN;
}
.sa-jukebox-mod {
  background: $color-sp-abs-VCO;
  color: $color-sp-abs-RN;
}
.sa-jukebox-accent {
  background: $color-sp-abs-RN;
  color: $color-sp-abs-TM;
}
.sa-lime-key {
  background: $color-pantone-5455C;
  color: $color-sp-abs-VBQ;
}
.sa-lime-mod {
  background: $color-pantone-430C;
  color: $color-sp-abs-VAT;
}
.sa-lime-accent {
  background: $color-sp-abs-VAT;
  color: $color-sp-abs-WFK;
}

.sa-magic-city-key {
  background: $color-sp-abs-TBT;
  color: $color-sp-abs-TAA;
}
.sa-magic-city-mod {
  background: $color-sp-abs-TAA;
  color: $color-sp-abs-TBT;
}
.sa-magic-city-accent {
  background: $color-sp-abs-RDD;
  color: $color-sp-abs-TBT;
}

.sa-modern-selectric-key {
  background: $color-sp-abs-NN;
  color: $color-sp-abs-WFK;
}
.sa-modern-selectric-mod {
  background: $color-sp-abs-BDH;
  color: $color-sp-abs-WFK;
}

.sa-nantucket-selectric-key {
  background: $color-sp-abs-WV;
  color: $color-sp-abs-BBI;
}
.sa-nantucket-selectric-mod {
  background: $color-sp-abs-BBI;
  color: $color-sp-abs-YCF;
}

.sa-oblivion-key {
  background: $color-sp-abs-GD;
  color: $color-sp-abs-GAL;
  &.hagoromo {
    background: $color-sp-abs-WFK;
    color: $color-sp-abs-GD;
  }
}
.sa-oblivion-mod {
  background: $color-sp-abs-GQM;
  color: $color-sp-abs-GAL;
}
.sa-oblivion-accent {
  background: $color-sp-abs-RAS;
  color: $color-sp-abs-GAL;
}
.sa-sail-key {
  background: $color-pantone-7717C;
  color: $color-sp-abs-WCK;
}
.sa-sail-mod {
  background: $color-pantone-7717C;
  color: $color-sp-abs-WCK;
}

.sa-sunday-morning-key {
  background: $color-pantone-487C;
  color: $color-pantone-202C;
  &.maroon {
    background: $color-pantone-202C;
    color: $color-pantone-487C;
  }
}
.sa-sunday-morning-mod {
  background: $color-pantone-202C;
  color: $color-pantone-487C;
}
.sa-sunday-morning-accent {
  background: $color-pantone-6C;
  color: $color-pantone-487C;
}

.sa-vilebloom-key {
  background: $color-pantone-7699C;
  color: $color-sp-abs-WFK;
}

.sa-vilebloom-mod {
  background: $color-pantone-7699C;
  color: $color-sp-abs-WFK;
}

.sa-vilebloom-accent1 {
  background: $color-pantone-474U;
  color: $color-pantone-7699C;
}

.sa-vilebloom-accent2 {
  background: $color-pantone-177C;
  color: $color-sp-abs-WFK;
}

.sa-vilebloom-accent3 {
  background: $color-pantone-2046U;
  color: $color-sp-abs-WFK;
}
